<menu></menu>
<barralateral></barralateral>


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gestion Detalle Pedido</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">



    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-right">
            <button class="btn btn-success" data-toggle='modal' data-target='#modalRegistrarAlumno'
              (click)="open(modalRegistro)"> <i class="fas fa-plus-circle"></i> Registrar Permiso </button>
          </div>
        </div>
        <br>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tabla Usuarios</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-striped table-bordered row-border hover display responsive nowrap" cellSpacing="0"
                width="100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Last name</th>
                    <th>Last name</th>
                    <th>Last name</th>
                    <th>Last name</th>
                    <th>Opciones</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let detallePedido of data'>
                    <td>{{detallePedido.id_detalle_pedido}}</td>
                    <td>{{detallePedido.id_pedido }}</td>
                    <td>{{detallePedido.id_grupo_musica }}</td>
                    <td>{{detallePedido.fecha_evento}}</td>
                    <td>{{detallePedido.precio_total}}</td>


                    <td> <button class='editar btn btn-warning' title="Editar Datos" (click)="onData(detallePedido)"
                        (click)="open(modalModificar)"><i class="fa fa-edit"></i></button>&nbsp;
                      <button class='eliminar btn btn-danger' title="Eliminar  Registro" (click)="onData(detallePedido)"
                        (click)="open(modalEliminar)"><i class="far fa-trash-alt"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MODAL REGISTRO -->

    <ng-template #modalRegistro let-modal>
      <div class="modal-content modal-lg">
        <div class="card-success">
          <div class="card-header">
            <div class="d-sm-flex align-items-center justify-content-between ">
              <h4 class="card-title">Usuarios </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!---->

          </div>


          <!-- Main content -->
          <section class="content">

            <div class="container">

              <p class="login-box-msg">Registro de Menu</p>

              <form #registroDetallePedidoForm="ngForm" (ngSubmit)="onSubmit(registroDetallePedidoForm)"
                enctype="multipart/form-data">
                <div class="row">


                  <div class="input-group mb-3 col-md-6">
                    <select class="form-control" name="idPedido" #idPedido="ngModel"
                      [(ngModel)]="detallePedido.id_pedido" required>

                      <option [value]="pedido.id_pedido" *ngFor="let pedido of dataPedido">
                        {{pedido.id_pedido}}
                      </option>

                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                    <small *ngIf="!detallePedido.valid && detallePedido.touched" class="invalid-feedback d-block">EL
                      nombre no es
                      válido</small>
                  </div>
                  <div class="input-group mb-3 col-md-6">
                    <select class="form-control" name="idgrup" #idgrup="ngModel"
                      [(ngModel)]="detallePedido.id_grupo_musica" required>

                      <option value="" selected>Grupo</option>

                      <option [value]="grupo.id_grupo_musica" *ngFor="let grupo of dataGrupo">
                        {{grupo.nombre_grupo_musica}}
                      </option>

                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                    <small *ngIf="!idgrup.valid && idgrup.touched" class="invalid-feedback d-block">EL
                      nombre no es
                      válido</small>
                  </div>
                  <div class="input-group mb-3 col-md-6">
                    <input type="text" class="form-control" placeholder="Precio Total" name="precioTotal"
                      #precioTotal="ngModel" [(ngModel)]="detallePedido.precio_total" required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                    <small *ngIf="!precioTotal.valid && precioTotal.touched" class="invalid-feedback d-block">El
                      nombre no es
                      válido</small>
                  </div>
                  <div class="input-group mb-3 col-md-6">
                    <input type="text" class="form-control" placeholder="Fecha Evento" name="fechaEven"
                      #fechaEven="ngModel" [(ngModel)]="detallePedido.fecha_evento" required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="row">
                  <div class="col-12  ms-12">
                    <button type="submit" class="btn btn-success btn-block my-3"
                      [disabled]="registroDetallePedidoForm.invalid"
                      (click)="modal.dismiss('Cross click')">Registrar</button>
                  </div>
                </div>
              </form>


            </div>


          </section>
          <!-- /.content -->
        </div>
      </div>
    </ng-template>

    <!-- FIN MODAL REGISTRO -->

    <!-- MODAL MODIFICAR -->

    <ng-template #modalModificar let-modal>
      <div class="modal-content">
        <div class="card-warning">
          <div class="card-header">
            <div class="d-sm-flex align-items-center justify-content-between ">
              <h4 class="card-title">Usuarios </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!---->

          </div>
          <form #detalleGenero="ngForm" (ngSubmit)="onSubmitUpdate(detalleGenero)" enctype="multipart/form-data">
            <div class="row mt-3">
              <input type="hidden" class="form-control" placeholder="id" name="id" #id="ngModel"
                [(ngModel)]="detallePedido.id_detalle_pedido">
              <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="id Peido" name="idPedido" #c="ngModel"
                  [(ngModel)]="detallePedido.id_pedido" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
                <small *ngIf="!detallePedido.valid && detallePedido.touched" class="invalid-feedback d-block">EL
                  nombre no es
                  válido</small>
              </div>
              <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Id Grupo Musica" name="idgrup" #idgrup="ngModel"
                  [(ngModel)]="detallePedido.id_grupo_musica" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
                <small *ngIf="!idgrup.valid && idgrup.touched" class="invalid-feedback d-block">EL
                  nombre no es
                  válido</small>
              </div>
              <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Precio Total" name="precioTotal"
                  #precioTotal="ngModel" [(ngModel)]="detallePedido.precio_total" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
                <small *ngIf="!precioTotal.valid && precioTotal.touched" class="invalid-feedback d-block">El
                  nombre no es
                  válido</small>
              </div>
              <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Fecha Evento" name="fechaEven" #fechaEven="ngModel"
                  [(ngModel)]="detallePedido.fecha_evento" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>

            </div>
            <div class=" row">
              <div class="col-4">
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" (click)="modal.dismiss('Cross click')"
                  class="btn btn-warning btn-block my-3">Guardar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

        </div>
      </div>
    </ng-template>

    <!-- FIN MODAL MODIFICAR -->

    <!-- MODAL ELIMINAR -->

    <ng-template #modalEliminar let-modal>
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form #detalleForm="ngForm" (ngSubmit)="onSubmitDelete(detalleForm)">
          <input type="hidden" class="form-control" placeholder="id" name="id" #id="ngModel"
            [(ngModel)]="detallePedido.id_detalle_pedido">
          <input type=" text" hidden id="idEliminarAlumno" name="idEliminarAlumno">
          <div class="modal-body text-center text-danger">¿Realmente deseas eliminar este Genero Musical?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal"
              (click)="modal.dismiss('Cross click')">Cancelar</button>
            <button class="btn btn-danger" type="submit" (click)="modal.dismiss('Cross click')">Eliminar</button>
          </div>
        </form>
      </div>
    </ng-template>

    <!-- FIN MODAL ELIMINAR -->




  </section>
  <!-- /.content -->
</div>
